{% extends 'index.twig' %}
{% block body %}
    <div class="container">
        <form method="post" class="form">
            <h1 class="text-center">Добавление задачи</h1>
            <div class="form-group">
                <input type="text" name="username" placeholder="username" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="email" name="email" placeholder="email" class="form-control" required>
            </div>
            <div class="form-group">
                <textarea name="description" placeholder="description" class="form-control" rows="10"></textarea>
            </div>
            <div class="form-group">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary mb-2">Сохранить задачу</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
