{% extends 'index.twig' %}
{% block body %}
<form method="post">
    <input type="text" name="username" value="{{ task.username }}">
    <input type="email" name="email" value="{{ task.email }}">
    <textarea name="description">{{ task.description }}</textarea>
    <input type="checkbox" name="finished_at" value="true" {% if task.finished_at %}checked{% endif %}>
    <input type="submit">
</form>
{% endblock %}
