{% extends 'index.twig' %}
{% block title %}Просмотр задач{% endblock %}
{% block body %}
    <a href="/auth">Вход админа</a>
    {% if username %}
        <h1>{{ username }}</h1>
        <a href="/logout">Выход</a>
    {% endif %}
    <a href="/add">Добавить задачу</a>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>email</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.username }}</td>
                <td>{{ task.email }}</td>
                <td>{{ task.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
